In [23]:
import pandas as pd
import numpy as np

### Q1. Pandas version

In [7]:
pd.__version__

'2.3.0'

In [11]:
df = pd.read_csv('car_fuel_efficiency.csv')
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

### Q2. Records count

In [12]:
len(df.index)

9704

### Q3. Fuel types

In [71]:
np.count_nonzero(df['fuel_type'].unique())

2

### Q4. Missing values

In [20]:
df.isnull().sum()[df.isnull().sum() != 0]

num_cylinders    482
horsepower       708
acceleration     930
num_doors        502
dtype: int64

### Q5. Max Fuel Efficiency

In [29]:
df['fuel_efficiency_mpg'].max()

25.96722204888372

### Q6. Median value of horsepower

In [30]:
og_median_hp = df['horsepower'].median()
og_median_hp

149.0

In [31]:
mf_hp = df['horsepower'].mode()
mf_hp

0    152.0
Name: horsepower, dtype: float64

In [32]:
alt_hp = df['horsepower'].fillna(152)
alt_hp.median()

152.0

### Q7. Sum of weights

In [50]:
filtered_df = df[df['origin'] == 'Asia'][['vehicle_weight', 'model_year']].head(7)
filtered_df

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [52]:
X = np.array(filtered_df)

In [57]:
XTX = np.dot(X.T, X)

In [58]:
XTX = np.linalg.inv(XTX)

In [59]:
y = [1100, 1300, 800, 900, 1000, 1100, 1200]

In [64]:
w = (XTX @ X.T) @ y

In [66]:
w.sum()

0.5187709081074016